@page
@model SchoolManagerApp.Pages_Ucenici.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ucenik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.DatumRodenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.DatumRodenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Prosjek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Prosjek)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ucenik.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
