@page
@model SchoolManagerApp.Pages_Ucenici.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ucenik</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.DatumRodenja)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.DatumRodenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ucenik.Prosjek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ucenik.Prosjek)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ucenik.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
