@page
@model SchoolManagerApp.Pages_Ucenici.IndexModel

@{
    ViewData["Title"] = "Popis učenika";
}

<h1>Popis učenika</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Dodaj novog učenika</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Datum rođenja</th>
            <th>Email</th>
            <th>Prosjek</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ucenik) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Ime)</td>
            <td>@Html.DisplayFor(modelItem => item.Prezime)</td>
            <td>@Html.DisplayFor(modelItem => item.DatumRodenja)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Prosjek)</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" onclick="return potvrdiBrisanje('@item.Ime @item.Prezime')">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>