@page
@model SchoolManagerApp.Pages_Ucenici.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik[0].Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik[0].Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik[0].DatumRodenja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucenik[0].Prosjek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ucenik) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRodenja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prosjek)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" onclick="return potvrdiBrisanje('@item.Ime @item.Prezime')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>